name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # Set a branch to deploy
  #pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  #lint:
  #  runs-on: ubuntu-latest
  #  steps:
  #  - uses: actions/checkout@v6
  #  - uses: DavidAnson/markdownlint-cli2-action@v22
  #    continue-on-error: true
  #    with:
  #      globs: 'content/**/*.md'
  deploy:
    runs-on: ubuntu-latest
    env:
      GO_VERSION: 1.26.0
      HUGO_VERSION: 0.149.0
      TZ: Europe/London
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: ${{ env.HUGO_VERSION }}
          extended: true

      - uses: actions/cache@v4
        with:
          path: /tmp/hugo_cache
          key: ${{ runner.os }}-hugomod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-hugomod-

      - name: Build
        run: |
          hugo \
            --gc \
            --minify \
            --baseURL "${{ steps.pages.outputs.base_url }}/${{ github.event.repository.name }}/" \
            --cacheDir "${{ runner.temp }}/hugo_cache"

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }} # automatically created - no need to store, see https://github.com/peaceiris/actions-gh-pages
          publish_dir: ./public
          #cname: ceda-div-test.ceda.ac.uk
